{% extends 'admin/base_admin.html.twig' %}

{% block body %}
    {% for user in users %}
        <div id="user-{{ user.id }}">
            <h4>{{ user.email }}</h4>
            <a href="{{ path('admin_user_update', {id: user.id}) }}">Обновить</a>
            <a href="#">Удалить</a>
        </div>
        <hr>
    {% endfor %}
    <h3><a href="#">Добавить</a></h3>
{% endblock %}