<div style="float:right; margin-right:30px;">
    <h5 style="color:white; display:inline-block">Welcome, {{ app.user.username }}</h5>
    <a href="{{ path('admin_logout') }}" style="margin-left:20px;">Logout</a>
</div>

