{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div style="margin:200px 0; text-align:center;">
        <h1>Success! We will contact with you soon.</h1>
    </div>
</div>
{% endblock %}